body {
  font-family: Arial;
  background: rgba(0, 0, 0, 0.7) url("../image/SU_image.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 1;
}

.forgot-box {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}

.button a {
  background-image: linear-gradient(150deg, #b621fe, #1fd1f9);
  padding: 10px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  text-decoration: none;
  color: white;
}

.button a:hover {
  background-image: linear-gradient(-150deg, #b621fe, #1fd1f9);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.button a:active {
  opacity: 0.5;
}

.lock {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #444444;
  margin: 20px;
}

.lock p {
  font-size: 15px;
  text-align: center;
  color: #666666;
  margin: 20px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #666666;
  margin: 16px 0;
  position: relative;
  margin-top: 20px;
}

.textbox input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.button input {
  width: 90%;
  border-radius: 50px;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0;
  color: white;
  background-image: linear-gradient(150deg, #b621fe, #1fd1f9);
}

.button input:hover {
  background-image: linear-gradient(-150deg, #b621fe, #1fd1f9);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.button input:active {
  opacity: 0.5;
}
